html {
  height: 100%;
}

body {
  height: 100%;
  background: linear-gradient(#9FADEE, #CFE1E8);
	background: -moz-linear-gradient(#9FADEE, #CFE1E8); /* for Firefox */
	background: -webkit-linear-gradient(#9FADEE,#CFE1E8); /* for IE */
  background: -o-linear-gradient(#9FADEE, #CFE1E8); /* For Opera 11.1 to 12.0 */
  background-repeat: no-repeat;
  background-color: #CFE1E8;
  margin: 0;
  font-family:Helvetica, Arial, sans-serif;
  font-size: 100%;
}

#container {
  min-width: 800px;
  max-width: 1000px;
  margin: auto;
}

header {
  /* width: 30%; */
  float: left;
  margin-bottom: 2%;
}

nav {
  /* width: 70%; */
  float: right;
}

#logo {
  width: 260px;
  height: 90px;
  margin: auto;
  background-image: url('memo-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

main {
  display: block;
  clear: both;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 1em;
  margin-bottom: 5%;
  min-height: 300px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: linear-gradient(#292D2E, #42484A);
  background: -moz-linear-gradient(#292D2E, #42484A);
	background: -webkit-linear-gradient(#292D2E, #42484A);
  background: -o-linear-gradient(#292D2E, #42484A); /* For Opera 11.1 to 12.0 */
  text-align: center;
  padding: 0.5em;
  font-size: 0.8em;
  color: #FFFFFF;
}

/* TABELE */

.schedule {
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 80%;
  border-collapse: collapse;
  font-size: 0.9em;
}

.schedule, .schedule th, .schedule td {
  border: 1px solid #485D9C;
}

.schedule th {
  background-color: #485D9C;
  color: #FFFFFF;
  padding: 0.28em;
}

.schedule td {
  padding: 0.25em 0.5em 0.25em 0.5em;
}

.schedule .center {
  text-align: center;
}


.team {
  margin: auto;
  margin-top: 2.5em;
  margin-bottom: 4.5em;
  width: 80%;
  border-collapse: collapse;
  font-size: 0.9em;
  text-align: center;
}

.team, .team td, .team th {
  border: 1px solid #485D9C;
}

.team th {
  background-color: #485D9C;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 0.3em;
  font-size: 1.06em;
  letter-spacing: 0.17em;
}

.team td {
  padding-top: 1em;
}

.team p {
  text-align: center;
}

.team img {
  opacity: 1.0;
  width: auto;
  height: 200px;
}

.team img:hover {
  opacity: 1.0;
}
/* KONEC TABEL */


/* NAVIGACIJA */

nav ul {
  background: linear-gradient(#D7D9FC, #B8BDF2);
  background: -moz-linear-gradient(#D7D9FC, #B8BDF2);
	background: -webkit-linear-gradient(#D7D9FC, #B8BDF2);
  background: -o-linear-gradient(#D7D9FC, #B8BDF2);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.10);
  width: auto;
  padding: 0 1em;
  border-radius: 13px;
  list-style: none;
  position: relative;
  display: inline-table;
  font-size: 0.93em;
  /* font-weight: bold; */
  float: right;
}

nav ul li {
  float: left;
}

nav ul li:hover {
  background-color: #485D9C;
  color: #FFFFFF;
}

nav ul li a {
  display: block;
  text-decoration: none;
  text-shadow: 1px 1px #B2B4D1;
  color: #61648C;
  padding: 0.8em 0.8em;
}

nav ul li:hover a {
  color: #FFFFFF;
  text-shadow: none;
}

nav ul ul {
  display: none;
  background: #485D9C;
  border-radius: 0px;
  padding:0;
  position: absolute;
  top: 100%;
  text-align: center;
}

nav ul ul li {
  float: none;
  text-align: left;
  border-top: 1px solid rgba(41, 60, 92, 0.5);
  border-bottom: 1px solid rgba(184, 189, 242, 0.25);
}

nav ul ul li a {
  color: #FFFFFF;
  padding: 0.6em 1.8em;
  text-shadow: none;
}

nav ul ul li:hover {
  background-color: #6378B8;
}

nav ul li:hover > ul {
  display: block;
}

/* KONEC NAVIGACIJE */

/* SEZNAMI */
main ul {
  list-style: circle outside url('img/hexagonal.png');
  margin-left: -0.15em;
}

main li {
  padding-left: 0.35em;
  margin-top: 0.4em;
}

/* NASLOVI & TEXT */
h1 {
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: bold;
  color: #61648C;
  border-bottom: 1px solid #61648C;
  padding: 0 0 0.2em 0.3em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.25em;
  font-weight: bold;
  color: #61648C;
  border-bottom: 1px solid #61648C;
  padding: 0 0 0.15em 0.25em;
  margin-bottom: 0.85em;
}

h3 {
  font-size: 1.1em;
  font-weight: 500;
  color: #61648C;
  border-bottom: 1px solid #61648C;
  padding: 0 0 0.05em 0.15em;
  margin-bottom: 0.7em;
}

main p {
  font-size: 0.96em;
  text-align: justify;
  margin: 0.7em;
}

main a {
  color: #485D9C;
  font-size: 0.96em;
}

main a:hover {
  text-decoration: none;
  color: #9FADEE;
}

main .center {
  text-align: center;
}